<div>
    <div class="text-right mb-2">
        <button class="btn btn-primary mr-1" (click)="recoverData()">Buscar</button>
        <button class="btn btn-warning mr-1" (click)="recoverFilters()">Borrar filtros</button>
        <button class="btn btn-success" (click)="createRecord()">Crear</button>
    </div>
    <div>
        <div *ngFor="let filter of filters | keyvalue">
            <div class="mb-3">
                <label class="form-label" for="datatables_filter_field_{{filter.key}}">{{filter.key}}</label>
                <input id="datatables_filter_field_{{filter.key}}" class="form-control" type="text" (change)="changeFilter(filter.key, $event)" [ngModel]="filter.value" />
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of headers">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td *ngFor="let item of record">
                    <span *ngIf="!isDate(item)">{{ item }}</span>
                    <span *ngIf="isDate(item)">{{ item | date: 'dd/MM/yyyy HH:mm:ss': 'es' }}</span>
                </td>
                <td *ngIf="record.length > 0">
                    <button class="btn btn-info mr-1" (click)="openRecord(record[0])">Ver</button>
                    <button class="btn btn-warning mr-1" (click)="updateRecord(record[0])">Editar</button>
                    <button class="btn btn-danger" (click)="deleteRecord(record[0])">Borrar</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="col" *ngFor="let header of headers">
                    {{ header }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>