<div>
    <div class="text-right mb-2">
        <a class="btn btn-success" routerLink="{{ createRoute }}">Crear</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of headers">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td *ngFor="let item of record">
                    <span *ngIf="!isDate(item)">{{ item }}</span>
                    <span *ngIf="isDate(item)">{{ item | date: 'dd/MM/yyyy HH:mm:ss': 'es' }}</span>
                </td>
                <td *ngIf="record.length > 0">
                    <button class="btn btn-info mr-1" (click)="openRecord(record[0])">Ver</button>
                    <button class="btn btn-warning mr-1" (click)="updateRecord(record[0])">Editar</button>
                    <button class="btn btn-danger" (click)="deleteRecord(record[0])">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>